
* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}
h1 {
	font-family: 'Fruktur', cursive;
	font-size: 3rem;
	text-align: center;
  padding-top: 3%;
  padding-bottom: 2%;
  margin-bottom: 15px;
}

body{
  text-align: center;
	background-color: #dbdbdb;
}

.name{
	text-align: center;
	font-family: 'Fondamento', cursive;
	font-size: 2rem;
}
.text{
	background-color: #fdd998;
	line-height: 1.7;
	margin: 3%;
	padding: 2% 2%;
	font-family: 'IBM Plex Serif', serif;
	font-size: 20px;
}
